.paubrasil {
    background-color: #972307; /* Exemplo para Pau Brasil */
}

.castanheira {
    background-color: #6d4c0e; /* Exemplo para Castanheira */
}

.perobarosa {
    background-color: #d88acb; /* Exemplo para Peroba Rosa */
}